{% extends "base.html" %}

{% block body %}

<header>
	<div class="header">
		<h1><a href="/">ScienceHostel</a></h1>			
		<a id="login" href="/login">Login</a>
		<ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/institutes">Institutes</a></li>
			<li class="current">Scientists</li>
			<li><a href="/faq">FAQ</a></li>
		</ul>
		
		<div class="hide">.</div>
	</div>
</header>

<section>
	<h3>Scientists</h3>
	<a class="action-links" href="/joining">Joining</a>
	
	<ul class="wrapper">
    {% for scientist in scientists %}
		<li>
			<h5>{{scientist.name}}</h5>
      <img src="{{static_url("images/dummy.jpg")}}"></img>
			<div>
				<p>{{scientist.publicbio}}</p>
			</div>
		</li>
		<div class="hide clear">.</div>
    {% end %}
		
	</ul><!--end of wrapper ul-->
	<div class="hide">.</div>

{% end %}
