{% extends "base.html" %}

{% block body %}

<header>
	<div class="header">
		<h1><a href="/">ScienceHostel</a></h1>			
		<a id="login" href="/login">Login</a>
		<ul id="nav">
			<li><a href="/">Home</a></li>
			<li class="current">Institutes</li>
			<li><a href="/scientists">Scientists</a></li>
			<li><a href="/faq">FAQ</a></li>
		</ul>
	</div>
</header>
		
<section>
	<h3>Institutes</h3>
	<a class="action-links" href="/addInstitutes">Want to create your own institute?</a>
	
	<ul class="institutes-wrapper">
  {% for institute in institutes %}

		<li>
			<img src="{{static_url("images/dummy.jpg")}}"></img>
			<h5>{{institute.name}}</h5>
			<div>
				located in <em>place1</em>
				<p>{{institute.longdescription}}</p>
			</div>
		</li>

  {% end %}
		
	</ul><!--end of list-wrapper div-->
</section>

{% end %}

