{% extends "base.html" %}

{% block body %}

<header>
  <div class="header">
    <h1><a href="/">ScienceHostel</a></h1>
    <a id="login" href="/login">Login</a>
    <ul id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/institutes">Institutes</a></li>
      <li><a href="/scientists">Scientists</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>

    <div class="hide">.</div>
  </div>
</header>

<section id="lgn">
	<img src="{{static_url("images/scientist1.png")}}">
	<h1><a href="/">ScienceHostel</a></h1>						
	<div id="login-wrapper">
		<form id="login-form" method="post" action="/login?">
    <p><label for="id_email">Email:</label> <input id="id_email" type="text" name="email" maxlength="30" /> </p>
    <p><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /></p>
    <input type="submit" value="Login">
		</form>				
  <fb:login-button autologoutlink="true"></fb:login-button>

  {% if login_msg %}
  <p>
  {{login_msg }}
  </p>
  {% end %}

	</div><!--end of login-wrapper div-->
</section>

{% end %}
