/*
SciencheHostel 
Style for guest pages
Author: Prajakta Godbole
Date: 20 June 2011
*/

/*****************************************************
		Reset styles 
******************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
/*
	vertical-align: baseline;
*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************************
		Layout
*******************************************************/
html, footer {
	width: 100%;
}

body {
	width:100%;	
	font-family: 'Helvetica Neue', 'Georgia', 'Baskerville', 'Times',serif;
	font-weight: 300;
	line-height: 1.5em;	
	color: #450200;
	font-size: 1em;
}

.header, section, .footer {
	width: 960px;
	margin: 0 auto;
	padding: 10px 20px;
}

a {
	text-decoration:none;	
}

/******************************************************
		Navigation
*******************************************************/
h1 {
	float:left;
}

#nav {
	float:right;
}

#nav li {
	display:inline;
	list-style-type:none;
	margin:0 15px;
	padding:0 10px;
}

#login {
	float:right;
	padding-left:100px;
}

.hide {
	visibility:hidden;
}

.clear {
	clear: both;
}

.current {
	border-radius: 5px;
}

footer {
	clear: both;
	background-color: #999;
	height: 100px;
	color: #fff;
}

/******************************************************
		Headers
*******************************************************/
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
	margin: 0.5em auto;
	text-align: center;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

/******************************************************
		Colors
*******************************************************/
html,.current {
	background-color:#aacfe4;
}

/* White text */ 
.current, h2 {
	color: #fff;
}

header, #faq-index {
	background-color: #333;
}

a {
	color: #aacfe4;
}	

#nav a {
	color: #666;
}

#above-fold div, .wrapper, .action-links, #login-wrapper {
	background-color: #fff;
	opacity: 0.8;
}

/******************************************************
		Main page
*******************************************************/

#above-fold {
	width: 360px;
	float: right;
	font-size: 0.9em;
	line-height: 1.6em;
	margin-top: 20px;
}

#above-fold div {
	padding: 20px;
	border-radius: 10px;
}

section img {
	width: 540px;
	margin: 20px 15px;
}

/******************************************************
		Sub-pages
*******************************************************/

.action-links {
	padding: 5px;
	border-radius: 10px;
	float: right;
}

h3 {
	float: left;
}

.wrapper {
	clear: both;
	border-radius: 10px;
	padding: 20px;
	margin-top: 50px;
}

.wrapper img {
	width: 150px;
	float: right;
}

.wrapper li {
	clear: both;
}

#faq-index {
	border-radius: 10px;
	padding: 10px;
}

#faq-details {
	padding-bottom: 20px;
}

#faq-details li {
	margin-top: 30px;
}

#faq-details li a{
	float: right;
}

.question {
	font-weight: bold;
}

/******************************************************
		Login, password reset forms
*******************************************************/

input {
	border-radius: 7px;
	height: 3em;
}

input[type="submit"] {

}

#lgn {
	width: 960px;
}

#lgn img {
	width: 400px;	
	float: left;
	margin-top: 100px;
}

#lgn h1{
	margin-top: 100px;
}

#lgn h1 a{
	color: #fff;
}

#login-wrapper {
	float: right;
	width: 480px;
	padding: 25px;
	margin: 50px 0;
	border-radius: 10px;
}

#login-form label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}

#login-form input {
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}

#login-form input[type="submit"] {
	font-size: 1.2em;
	text-align:center;
	height: 2.2em;
	clear:both;
	margin-left:150px;
	width: 6em;
	background:#666666 ;/*url(img/button.png) no-repeat;*/
	color:#FFFFFF;
}

#login-form em{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}

#forgotPwd input[type="submit"] {
	font-size: 1.2em;
	text-align:center;
	height: 2.2em;
	clear:both;
	width: 10em;
	background:#666666 ;/*url(img/button.png) no-repeat;*/
	color:#FFFFFF;
	margin-top: 20px;
}

#forgotPwd em {
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
}

/******************************************************
		Create institute and joining form
*******************************************************/

#addInstitutes, #joining {
	margin-top: 50px;
	width: 750px; /*change this to increase the width of the form */
}

div.wrapper p { /*create institute form wrapper */
	clear: both;
	margin-top: 1em;
}

#addInstitutes label, #joining label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#addInstitutes input, #joining input {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 560px;
	margin: 0 0 20px 30px;
}

#addInstitutes input[type="submit"], #joining input[type="submit"] {
	font-size: 1.2em;
	text-align: center;
	height: 2.2em;
	clear: both;
	margin-left: 170px;
	width: 10em;
	background: #666666; /* url(img/button.png) no-repeat;*/
	color: #FFFFFF;
}

#joining input[type="submit"] {
	width: 18em;
	margin-bottom: 0px;
}

#joining input {
	margin-bottom: 0px;
}

#joining em {
	float: left;
	font-size: 0.8em;
	margin-left: 170px;
	margin-bottom: 20px;
}

#addInstitutesInProgress img {
  width: 2.6em;
  height: 2.6em;
  margin: 0px 0px 20px 30px;
  margin-left: 200px;
  float: left;
}
