{% extends "base.html" %}

{% block body %}

<header>
	<div class="header">
		<h1><a href="/">ScienceHostel</a></h1>			
		<a id="login" href="/login">Login</a>
		<ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/institutes">Institutes</a></li>
			<li><a href="/scientists">Scientists</a></li>
			<li><a href="/faq">FAQ</a></li>
		</ul>
		
		<div class="hide">.</div>
	</div>
</header>
<section>
	<h3>Want to create your own institute?</h3>
	
	<div class="wrapper">
		<p>Please fill out the following form to send a request to create your institute.<p>
		
		<p>Note: Your information will not be shared, but will be sent to a
		ScienceHostel administrator. </p>
		
		<form id="addInstitutes" action="javascript:void(0);"  onsubmit="javascript:addInstitute(); return false;" method="post">
			<label>Institute name</label>
			<input id="institute_name" type="text" for="iname">

			<label>Brief description</label>
			<input id="institute_desc"t ype="text" for="bdescr">

			<label>Institute address</label>
			<input id="institute_addr" type="text" for="iaddr">

			<label>Your name</label>
			<input id="institute_host_name" type="text" for="yname">

			<label>Your email</label>
			<input id="institute_host_email" type="text" for="yemail"> 
			
			<div id="addInstitutesInProgress" style="display:none;" > <img alt="" src="{{static_url("images/in_progress.gif")}}"/> </div>
			<input id="addInstitutesSubmit" type="submit" value="Send request"> 
		</form>
		
		<p>If your institute is approved, you will
		be personally contacted and asked to provide more information. Your
		institute will then be added to our list, and, only with your
		approval, scientists may begin visiting.
		</p>
	</div><!--end of wrapper div-->
</section>

{% end %}
