<html>
	<head>
		<title>Joining | ScienceHostel - a community for scientists and institute hosts</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="tex/javascript">
		
		</script>
	</head>
	<body>
		<header>
			<div class="header">
				<h1><a href="index.html">ScienceHostel</a></h1>			
				<a id="login" href="login.html">Login</a>
				<ul id="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="institutes.html">Institutes</a></li>
					<li><a href="scientists.html">Scientists</a></li>
					<li><a href="faq.html">FAQ</a></li>
				</ul>
				
				<div class="hide">.</div>
			</div>
		</header>
		
		<section>
			<h3>Joining</h3>
			<div class="wrapper">
				<p>Thank you for your interest.</p>
				<p>Currently, membership is by invite only. But you can signup for our mailing list 
				to get updates.</p>
				
				<form id="joining">
					<label id="yemail">Your email</label>
					<input type="text">
					<em>Your email will not be shared with anyone.</em>
					
					<input type="submit" value="Subscribe to our mailing list">
					<em>You can unsubscribe at anytime by following the link in your email.</em>
					<div class="hide clear">.</div>
				</form>
			</div>
		</section>
		
		<footer>
			<div class="footer">
				&#169;ScienceHostel
			</div>
		</footer>
	</body>
</html>