{% extends "base.html" %}

{% block body %}

<header>
  <div class="header">
    <h1><a href="/">ScienceHostel</a></h1>
    <a id="login" href="/login">Login</a>
    <ul id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/institutes">Institutes</a></li>
      <li><a href="/scientists">Scientists</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
</header>

<section>
	<h3>Joining</h3>
	<div class="wrapper form-page">
		<p>Thank you for your interest.</p>
		<p>Currently, membership is by invite only. But you can signup for our mailing list 
		to get updates.</p>
		
		<form id="joining">
			<label id="yemail">Your email</label>
			<input type="text">
			<em>Your email will not be shared with anyone.</em>
			
			<input type="submit" value="Subscribe to our mailing list">
			<em>You can unsubscribe at anytime by following the link in your email.</em>
			<div class="hide clear">.</div>
		</form>
	</div>
</section>
		
{% end %}
